<div class="">
  <% if current_user == @video.post.user || current_user.admin %>
    <%= form_for [@video, @comment] do |f| %>
      <%= f.label(:body, "Comment") %>
      <%= f.text_area(:body) %>
      <%= f.submit("Submit Comment") %>
    <% end %>
  <% end %>
</div>
