<div class="highlight about">
  <h3>About</h3>
  <p>
    Coachr is a web application by and for Starting Strength Coaches.
    It facilitates contact between certified SSC's and trainees (current and potential) while also serving as a platform for trainees to recieve technical criticism and feedback on their lifts absent the peanut gallery.
  </p>
  <p>
    For more information, please <%= link_to "contact us", "mailto:coachrwebapp@gmail.com" %> at this address.
  </p>
</div>
