<div class="about">
  <h3>FAQ</h3>
</div>
<button class="accordion highlight about">What is Coachr?</button>
<div class="panel">
  <p>
    Coachr is a web application by and for Starting Strength Coaches.
    It facilitates contact between certified SSC's and trainees while also serving as a platform for trainees to recieve technical criticism on their lifts absent the peanut gallery.
  </p>
</div>

<button class="accordion highlight about">How does the site work?</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion highlight about">How does Starting Strength work?</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion highlight about">What is Starting Strength?</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion highlight about">Why Strength?</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion highlight about">Why Barbells?</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<p>
  For more information, please <%= link_to "contact us", "mailto:coachrwebapp@gmail.com" %> at this address.
</p>
