<div class="text-center">
  <% if user_signed_in? %>
    <h1>Welcome, <%= current_user.first_name %>, to Coachr</h1>
    <h3>by and for Starting Strength Coaches</h3>
  <% else %>
    <h1>Welcome to Coachr</h1>
    <h3>Please sign in to utilize our services</h3>
  <% end %>
</div>
