// @import "*";
@import "font-awesome";

html {
background-color: #49708A;
}

.show-log {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}

.pagination {
  margin: auto;
}

.coaches {
  margin-bottom: 10px;
}
