// @import "*";
@import "font-awesome";

html {
  margin-top: -4%;
}

body {
  overflow: scroll;
  margin: 0;
  padding:0;
  min-height:400px;
  margin-bottom: 130px;
  padding-bottom: 130px;
  clear: both;
}

.map {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 125px;
  border: solid medium;
}

.main {
  margin: 65px;
}

.show-log {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}

.pagination {
  margin: auto;
}

.coaches {
  margin-bottom: 10px;
}

div {
  font-family: "Arial", "Helvetica", "sans-serif";
}

footer {
  background-color: #49708A;
  bottom:0;
  clear: both;
  height: 130px;
  position: absolute;
  width: 100%;
  z-index: 10;
  a { font-size: 110%; }
  a:hover { color: #70db93; font-weight:bold; }
  a:link, a:visited { color: #000000; }
}

.profile-pic img {
  height: 65px;
  width: auto;
}

.links {
  margin: auto;
}
