<div class="footer container">
  <div class="row links text-center" style="margin: 35px">
    <div class="col-sm-4">
      <p><%= link_to 'Starting Strength Coaches Association', "http://startingstrength.org" %></p>
      <p><%= link_to 'Starting Strength', "http://startingstrength.com" %></p>
    </div>
    <div class="col-sm-4">
      <p><%= link_to "Contact Us", "mailto:coachrwebapp@gmail.com" %></p>
    </div>
    <div class="col-sm-4">
      <p><%= link_to '<i class="fa fa-4x fa-github" aria-hidden="true"></i>'.html_safe, "https://github.com/noahmilstein/breakable_toy" %></p>
    </div>
  </div>
</div>
